@import assets/colors
@import assets/mixins

@import layouts/header
@import layouts/part
@import layouts/footer

@import pages/page3


@import media/media


body
	box-sizing: border-box
	margin: 0
	padding: 0
	height: 2000px
	font-family: 'Roboto', sans-serif