* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: MyriadProRegular;
	src: url(fonts/MyriadPro-Regular.otf);
}

@font-face {
	font-family: NeoSansProMedium;
	src: url(fonts/NeoSansPro-Medium.ttf);
}

@font-face {
	font-family: NeoSansProRegular;
	src: url(fonts/NeoSansPro-Regular.ttf);
}

@font-face {
	font-family: NeoSansProBold;
	src: url(fonts/NeoSansPro-Bold.ttf);
}

@font-face {
	font-family: JazzBallRegular;
	src: url(fonts/Jazz_Ball_Regular.ttf);
}

.container {
	max-width: 960px;
	margin: 0 auto;
	margin-top: 20px;
}

@media screen and (max-width: 960px) {
	.container {
		margin: 20px 1% 0 1%;
	}
}

/*Bread Crumbs*/
.bread-crumbs .bread-crumbs-items {
	display: inline-block;
	list-style: none;
	font-size: 13px;
	font-family: MyriadProRegular;
}

.bread-crumbs .bread-crumbs-items li {
	display: inline-block;
	color: #b2b8bc;
}

.bread-crumbs .bread-crumbs-items li a, .bread-crumbs .bread-crumbs-items span {
	color: #b2b8bc;
	margin: 0 2px 0 2px;
}

.bread-crumbs .bread-crumbs-items li a:hover {
	text-decoration: none;
}

.bread-crumbs .house-icon {
	position: relative;
	top: 3px;
}

/*Main title and block of filters*/
.main-title {
	margin: 20px 0 16px 0;
	font-size: 28px;
	font-family: NeoSansProMedium;
}

.block-of-filters {
	display: table;
	width: 100%;
	padding: 13px 12px 13px 12px;
	background-color: #eef8ff;
	border: 2px solid #e5f0fb;
	border-radius: 10px;
	font-size: 14px;
	color: #848b8f;
	font-family: NeoSansProRegular;
}

.block-of-filters .color-radiobuttons {
	display: table-cell;
	width: 28.5%;
	vertical-align: center;
}

.block-of-filters .color-radiobuttons .color {
	margin-right: 4px;
}

@media screen and (max-width: 820px) {
	.block-of-filters .color-radiobuttons {
		display: block;
		width: 100%;
		text-align: center;
		padding: 8px 0 8px 0;
	}
}

.block-of-filters .sort-section {
	text-align: right;
}

.block-of-filters .checkboxes {
	display: table-cell;
	width: 46%;
	border-left: 1px solid #c2d1dc;
	border-right: 1px solid #c2d1dc;
	text-align: center;
}

@media screen and (max-width: 820px) {
	.block-of-filters .checkboxes {
		display: block;
		width: 100%;
		text-align: center;
		padding: 8px 0 8px 0;
		border: none;
	}
	.block-of-filters .sort-section {
		text-align: center;
		padding: 8px 0 8px 0;
	}
}

@media screen and (max-width: 360px) {
	.block-of-filters .checkboxes {
		font-size: 11px;
	}
}

.checkboxes .title-of-filter {
	padding-left: 7px;
	padding-right: 7px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sort-section .button-sort {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.sort-section .text-sort {
	color: #ff0000;
	border-bottom-style: dotted;
	margin-left: 5px;
	cursor: pointer;
}

.sort-section .text-sort:hover {
	border-bottom-style: none;
}

/*List of products*/
.list-of-products {
	margin-top: 24px;
}

.list-of-products .product {
	border: 1px solid #d0dbe6;
	width: 20%;
	float: left;
	border-radius: 10px;
	padding: 14px 0 14px 0;
}

@media screen and (max-width: 767px) {
	.list-of-products .product {
		float: left;
		width: 50%;
	}
}

@media screen and (max-width: 460px) {
	.list-of-products .product {
		width: 100%;
	}
}

.list-of-products .product .img-of-product {
	height: 140px;
	text-align: center;
}

.list-of-products .product a {
	display: block;
	height: 37px;
	width: 95%;
	text-align: center;
	margin: 0 auto;
	font-size: 14px;
	color: #40aed7;
	font-family: NeoSansProRegular;
}

.list-of-products .product .product-description {
	margin: 0 auto;
	text-align: center;
	font-size: 13px;
	color: #5a5a5a;
	line-height: 20px;
	margin: 0 auto;
	font-family: NeoSansProRegular;
}

.list-of-products .product .price-of-product {
	display: block;
	text-align: center;
	font-size: 18px;
}

.list-of-products .product .price-of-product .price {
	font-family: NeoSansProBold;
}

.list-of-products .product .price > span {
	font-size: 12px;
	font-family: MyriadProRegular;
}

.list-of-products .product .old-price {
	margin: 0 auto;
	text-align: center;
}

.list-of-products .product .old-price p {
	white-space: pre;
	position: relative;
	display: inline-block;
	font-size: 15px;
	color: #aaa;
	font-family: NeoSansProRegular;
}

.list-of-products .product .old-price p:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 30%;
	width: 100%;
	height: 0;
	border-bottom:2px solid #ff0d0d;
	transform:rotate(-10deg);
}

.list-of-products .product .ordering {
	position: relative;
	margin: 0 auto;
	background-color: #eef8ff;
	height: 40px;
	border-radius: 20px;
	width: 125px;
}

.list-of-products .product .input-ordering {
	position: relative;
	top: -3px;
	height: 28px;
	width: 60px;
	border: 1px solid #cacbcb;
	border-radius: 20px;
	margin-left: 5px;
	outline: none;
	font-size: 13px;
	color: #1f1f1f;
	text-align: center;
	padding-top: 3px;
	font-family: NeoSansProRegular;
}

.list-of-products .product .button-ordering-plus, .list-of-products .product .button-ordering-minus {
	background-color: transparent;
	border: none;
	color: #798690;
	outline: none;
	cursor: pointer;
	font-family: JazzBallRegular;
}

.list-of-products .product .button-ordering-plus {
	position: relative;
	top:-3px;
	font-size: 19px;
	z-index: 6;
}

.list-of-products .product .button-ordering-minus {
	position: relative;
	top: 10px;
	left: -15px;
	font-size: 30px;
	z-index: 5;
}

.list-of-products .product .basket {
	position: absolute;
	background-color: transparent;
	border: none;
	outline: none;
	right: 0px;
	cursor: pointer;
}

.list-of-products .product:last-child {
	margin-bottom: 30px;
}

/*Block of pagination*/
.block-of-pagination {
	display: table;
	width: 100%;
	margin-bottom: 30px;
	background-color: #eef8ff;
	border: 2px solid #e5f0fb;
	padding: 14px 12px 14px 12px;
	z-index: 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-family: NeoSansProRegular;
}

.block-of-pagination a {
	color: #848b8f;
	font-size: 14px;
}

.block-of-pagination .left-part {
	display: table-cell;
	width: 53px;
}

.block-of-pagination .center-part {
	display: table-cell;
	list-style: none;
	text-align: center;
}

.block-of-pagination .center-part li {
	display: inline-block;
	padding: 0 7px 0 7px;
}

@media screen and (max-width: 450px) {
	.block-of-pagination .center-part li {
		padding: 0 2px 0 2px;
	}
}

.block-of-pagination .center-part .active a {
	color: #000;
	font-family: NeoSansProBold;
}

.block-of-pagination .right-part {
	display: table-cell;
	width: 53px;
}

.block-of-pagination .left-part a, .block-of-pagination .right-part a, .block-of-pagination .center-part li a {
	text-decoration: none;
	border-bottom: 1px solid #848b8f;
}

/*Radiobuttons*/
.radio-item {
	display: inline-block;
	position: relative;
	padding: 0 2px;
}

.radio-item input[type='radio'] {
	display: none;
}

.radio-item label {
	color: #666;
	font-weight: normal;
}

.radio-item label:before {
	content: " ";
	display: inline-block;
	position: relative;
	top: 5px;
	width: 17px;
	height: 17px;
	border-radius: 11px;
	background-color: red;
	z-index: 11;
}

.radio-item #red-radiobutton:before {
	background-color: #e30013;
}

.radio-item #black-radiobutton:before {
	background-color: #3b3b3b;
}

.radio-item #yellow-radiobutton:before {
	background-color: #e3c400;
}

.radio-item #white-radiobutton:before {
	background-color: #fff;
}

.radio-item #green-radiobutton:before {
	background-color: #76e300;
}

.radio-item #pink-radiobutton:before {
	background-color: #e300a0;
}

.radio-item #brown-radiobutton:before {
	background-color: #e37000;
}

.radio-item input[type=radio]:checked + label:after {
	border-radius: 50%;
	width: 21px;
	height: 21px;
	position: absolute;
	top: 1px;
	left: -2px;
	content: " ";
	display: block;
	background: #eef8ff;
	border: 2px solid #ff4343;
	z-index: 10;	
}

/*Checkboxes*/
label input {
	display: none;
}

label span {
	height: 16px;
	width: 16px;
	top: 2px;
	border: 1px solid #bdcbd5;
	display: inline-block;
	position: relative;
	background-color: #d7e2ea;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type=checkbox]:checked + span:before {
	content: '\2714';
	height: 15px;
	width: 15px;
	position: absolute;
	left: -1px;
	top: -1px;
	font-size:18px;
	color: #fff;
	font-size: 14px;
	background-color: red;
	border: 1px solid #c12524;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
