* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: HelveticaNeueCyr-Bold;
	src: url(../fonts/HelveticaNeueCyr-Bold.ttf);
}

@font-face {
	font-family: Lato-Bold;
	src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
	font-family: Lato-Light;
	src: url(../fonts/Lato-Light.ttf);
}

/*Hidden-xs*/
@media screen and (max-width: 1300px) {
	.lg-pictures {
		display: none;
	}
}

@media screen and (min-width: 1300px) {
	.md-pictures {
		display: none;
	}
}

.md-pictures {
	height: 620px;
	max-width: 760px;
	font-weight: 300;
	font-family: Lato-Light;
}

.main-title {
	margin-top: 30px;
	font-size: 30px;
	font-family: Lato-Bold;
}

.pl-title {
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #4d4d4d;
	font-family: HelveticaNeueCyr-Bold;
}

#our-pl2 {
	position: relative;
	margin-top: 100px;
	width: 350px;
	float: right;
	left: 125px;
}

#other-pl2 {
	position: absolute;
	right: 0px;
	margin-top: 100px;
	width: 350px;
}

#high-strength {
	height: 50px;
	width: 300px;
	border-bottom: 1px solid #888;
}

#unproblematic-operation {
	position: absolute;
	top: 60px;
	height: 50px;
	width: 240px;
	border-bottom: 1px solid #888;
}

#impressive-service {
	position: absolute;
	top: 120px;
	height: 30px;
	width: 190px;
	border-bottom: 1px solid #888;
}

#dense-structure {
	position: absolute;
	top: 160px;
	height: 50px;
	width: 150px;
	border-bottom: 1px solid #888;
}

#rough-surface {
	position: absolute;
	top: 230px;
	height: 150px;
	width: 150px;
	border-bottom: 1px solid #888;
}

#color-scheme {
	position: absolute;
	top: 400px;
	height: 50px;
	width: 150px;
	border-bottom: 1px solid #888;
}

#high-hygroscopicity {
	position: absolute;
	right: -140px;
	top: 0;
	height: 110px;
	width: 150px;
	border-bottom: 1px solid #888;
}

#impossibility-of-partial-repair {
	position: absolute;
	right: -140px;
	top: 120px;
	height: 90px;
	width: 150px;
	border-bottom: 1px solid #888;
}

#low-strength {
	position: absolute;
	right: -140px;
	top: 220px;
	height: 50px;
	width: 150px;
	border-bottom: 1px solid #888;
}

#low-abrasion {
	position: absolute;
	right: -140px;
	top: 280px;
	height: 50px;
	width: 150px;
	border-bottom: 1px solid #888;
}

#extinction-of-color-shades {
	position: absolute;
	right: -140px;
	top: 340px;
	height: 90px;
	width: 150px;
	border-bottom: 1px solid #888;
}

#simplicity-of-design {
	position: absolute;
	right: 77px;
	top: 381px;
	height: 49px;
	width: 180px;
	border-bottom: 1px solid #888;
}

.svg {
	position: absolute;
	top: 0;
}

.width-column {
	width: 300px;
}

.our-pl-indent {
	margin-top: -20px !important;
}

/*Hidden-lg hidden-md hidden-sm*/
.xs-pl {
	font-weight: 300;
	font-family: Lato-Light;
}

.xs-main-title {
	height: 50px;
	margin-top: 30px;
	font-size: 20px;
	font-family: Lato-Bold;
}

.xs-width-column {
	height: 700px;
	width: 320px;
	margin: 0 auto;
	padding-top: 20px;
}

.xs-our-pl {
	margin-top: 20px;
}

.high-strength, .unproblematic-operation, .impressive-service, .dense-structure, .rough-surface, .color-scheme {
	width: 250px;
	margin: 0 auto;
	margin-top: 20px;
	border-bottom: 1px solid #888;
	font-weight: 300;
	font-family: Lato-Light;
}

.high-strength, .high-hygroscopicity {
	height: 70px;
}

.unproblematic-operation, .color-scheme, .impossibility-of-partial-repair, .extinction-of-color-shades, .simplicity-of-design {
	height: 50px;
}

.impressive-service, .dense-structure, .low-strength, .low-abrasion {
	height: 30px;
}

.rough-surface {
	height: 90px;
}

.xs-other-pl {
	margin-top: 60px;
}

.high-hygroscopicity,  .impossibility-of-partial-repair,  .low-strength, .low-abrasion, .extinction-of-color-shades, .simplicity-of-design {
	width: 250px;
	padding-right: 5px;
	margin: 0 auto;
	margin-top: 20px;
	border-bottom: 1px solid #888;
	font-weight: 300;
	font-family: Lato-Light;
}

