$color-header-text: #3b3d40
$color-header-button: #3273f0
$color-text: #fff
$color-text-menu: #000
$color-row-companies: #f9f9f9
$color-text-Best-Features: #656b6f
$color-border_tables: #eaeaea
$color-text_tables: #7e848e
$color-price: #3273f0
$color-button-tables: #3c3d41
$color-input_email: #4d5f82
$color-footer: #3c3d41
$color-icons_and_text_footer: #b1b1b3