* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

@font-face {
	font-family: ArialBold;
	src: url(ArialBold.ttf);
}



/** index page **/
.main-background {
	background-image: url(img/main-background.png);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-bottom: 40px solid #FFC811;
}

.main-background .form {
	position: relative;
	height: 100vh;
	width: 640px;
	background-color: #fff;
	margin: 0 auto;
	padding: 79px;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}

@media only screen and (max-width: 768px) {
	.main-background .form {
		width: 570px;
	}
}

.main-background .form .logo-music {
	display: block;
	width: 260px;
	margin: 0 auto;
	padding-top: 8vh;
	padding-bottom: 12vh;
}

@media only screen and (max-width: 1024px) {
	.main-background .form .logo-music {
		width: 30vh;
		padding-top: 5vh;
	}
}

.main-background .form ::-webkit-input-placeholder {color: #444;}
.main-background .form ::-moz-placeholder          {color: #444; opacity: 1;}
.main-background .form :-moz-placeholder           {color: #444; opacity: 1;}
.main-background .form :-ms-input-placeholder      {color: #444;}

.main-background .form .input-username, .main-background .form .input-password {
	border: none;
	border-bottom: 1px solid #000;
	width: 100%;
	font-size: 18px;
	outline: none;
	padding-bottom: 5px;
	letter-spacing: 2px;
	font-weight: 600;
}

.main-background .form .input-username {
	margin-bottom: 3vh;
}

.main-background .form .forgot-password {
	display: block;
	text-align: right;
	letter-spacing: 1px;
	font-size: 12px;
	margin-top: 10px;
	text-decoration: none;
	color: #373737;
	opacity: 1;
	font-weight: bold;
}

.main-background .login {
	width: 100%;
	margin-top: 4vh;
	color: #fff;
	font-size: 15px;
	outline: none;
	border: none;
	background-color: #FFC811;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 3px;
	cursor: pointer;
	font-family: ArialBold;
}

.main-background .form .account-and-register {
	position: absolute;
	bottom: 7vh;
	right: 79px;
}

@media only screen and (max-width: 576px) {
	.main-background .form .account-and-register {
		bottom: 29vh;
		right: 15px;
	}
}

.main-background .form .account-and-register a {
	display: block;
	text-align: right;
	text-decoration: none;
	color: #444;
	opacity: 1;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: bold;
}

.account-and-register .register-now {
	font-weight: 600;
	margin-top: 5px;
}

.contact-and-terms {
	position: absolute;
	right: 42px;
	top: 92vh;
	font-size: 18px;
	font-weight: bold;
}

@media only screen and (max-width: 1700px) {
	.contact-and-terms a {
		display: block;
		position: relative;
		bottom: 30px;
		left: 30px;
	}
}

@media only screen and (max-width: 1220px) {
	.contact-and-terms {
		display: none;
	}
	.contact-and-terms-channels {
		display: none;
	}
}

@media only screen and (max-width: 570px) {
	.main-background .form {
		width: 90%;
		padding: 30px;
	}
	.main-background .form .input-username, .main-background .form .input-password {
		font-size: 16px;
	}
	.main-background .form .account-and-register {
		right: 30px;
	}
}

@media only screen and (max-width: 330px) {
	.main-background .form .account-and-register {
		top: 75vh;
	}
}

@media only screen and (max-width: 320px) {
	.main-background .form .account-and-register {
		top: 85vh;
		right: 15px;
	}
}

@media only screen and (max-width: 400px) {
	.main-background .form {
		padding: 15px;
	}
}

.contact-and-terms a {
	text-decoration: none;
	color: #fff;
	padding-right: 30px;
	letter-spacing: 1px;
}



/** channels page **/
.channels-page {
	min-height: 100vh;
}
.top-border {
	position: absolute;
	width: 100%;
	height: 11px;
	background-color: #FFC811;
}

.bottom-background-img {
	position: relative;
	background-image: url(img/bottom-background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.height {
	height: 58vh;
}

.min-height {
	min-height: 58vh;
}

.top-logo-channels {
	margin-bottom: 2vh;
	margin-right: 5vh;
	margin: 0 auto;
	height: 22vh;
}

.logo-channels {
	/* width: 160px; */
	width: 20vh;
	float: right;
	margin-top: 10vh;
}

.clear {
	clear: both;
}

.button-section {
	width: 1360px;
	margin: 0 auto;
	margin-bottom: 8vh;
	height: 7vh;
}

@media only screen and (max-width: 768px) {
	.logo-channels {
		margin-top: 6vh;
	}
	.button-section {
		height: 7vh;
	}
}

@media only screen and (max-width: 576px) {
	.button-section {
		height: 4vh;
	}
}

.channels-button {
	font-size: 26px;
	font-weight: bold;
	color: #444;
	border: none;
	cursor: pointer;
	outline: none;
	background-color: #fff;
}

.channels-button span {
	position: relative;
	bottom: 10px;
	font-size: 16px;
	padding-left: 5px;
	letter-spacing: 1px;
}

.orange-line {
	background-color: #FFF5DC;
	height: 5vh;
}

.sections-row {
	position: relative;
	bottom: 12vh;
	margin: 0 auto;
	width: 1360px;
}

.channels-sections {
  margin-right: 175px;
	display: inline-block;
}

@media only screen and (max-width: 768px) {
	.channels-sections {
		margin-right: 25px;
	}
}

@media only screen and (max-width: 420px) {
	.channels-sections {
		margin-right: 10px;
	}
}

.channels-sections:last-child {
  margin-right: 0;
}

.layer .channel {
	display: block;
	text-decoration: none;
	outline: none;
}

.channel .channel-image {
	display: block;
	background-color: #f9f9f9;
	/* height: 145px;
	width: 145px; */
	height: 15vh;
	width: 15vh;
	padding: 13px;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}

@media only screen and (max-width: 767px) {
	.channel .channel-image {
		background-color: #fff;
	}
}

.channel .channel-image .channel-img {
	width: 100%;
}

.channel .name-channel {
	display: block;
	color: #444;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	letter-spacing: 2px;
}

.channel .description-channel {
	font-size: 14px;
	color: #444;
	line-height: 30px;
	letter-spacing: 2px;
}

.channel .name-and-description {
	display: block;
	padding-top: 2vh;
}

.layer {
	width: 1360px;
	white-space: nowrap;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	scrollbar-width: none;
}

.contact-and-terms-channels {
	float: right;
	margin-top: -38px;
	margin-right: 43px;
}

.contact-and-terms-channels a {
	color: #fff;
	font-size: 18px;
	padding-right: 30px;
	font-weight: bold;
	letter-spacing: 1px;
	text-decoration: none;
}

.channels4 {
	padding-bottom: 3vh;
}

.logo-section {
	width: 1360px;
	height: 22vh;
	margin: 0 auto;
}

@media only screen and (max-width: 1360px) {
	.layer, .top-logo-channels, .button-section, .logo-section {
		width: 990px;
	}
	.sections-row {
    overflow-x: scroll;
		width: 990px;
		margin: 0 auto;
	}
	.top-logo-channels {
		width: 990px;
		margin: 0 auto;
	}
	.logo-channels {
		/* width: 194px; */
		width: 16vh;
		margin-bottom: 30px;
	}
	.channels-button {
		font-size: 16px;
	}
	.channels-button span {
		top: -5px;
	}
	.channels-img {
		width: 24px;
	}
	.channels-sections {
		margin-right: 50px;
	}
}

@media only screen and (max-width: 991px) {
  .top-logo-channels, .logo-section {
    width: 90%;
    margin-right: 10%;
  }
	.layer {
		width: 100%;
		margin: 0 auto;
		overflow-x: scroll;
		-ms-overflow-style: none;
	}
	.sections-row {
		margin-left: 10%;
		width: 90%;
		left: 0;
	}
	.button-section {
		margin-left: 10%;
		width: auto;
	}
	.contact-and-terms-channels {
		display: none;
	}
	.channels-sections {
		margin-right: 10px;
	}
}

@media only screen and (max-width: 768px) {
	.top-logo-channels .logo-channels {
		/* width: 194px; */
	}
	.bottom-background-img	.sections-row {
		bottom: 11vh;
	}
	.channels-sections .section {
		margin-left: 5px;
		margin-right: 5px;
	}
	.channels-sections .section-right {
		margin-left: 15px;
	}
	.channel .channel-image {
		height: 195px;
		width: 195px;
		padding: 16px;
	}
	.channel-image .channel-img {
		height: 162px;
		width: 162px;
	}
	.channel .name-channel {
		font-size: 15px;
		line-height: 15px;
	}
	.channel .description-channel {
		font-size: 12px;
		line-height: 15px;
	}
	.logo-section {
		width: 90%;
	}
	.sections-row {
		margin-left: 8%;
		width: 92%;
	}
}

@media only screen and (max-width: 576px) {
	.top-logo-channels .logo-channels {
		height: 65px;
		width: 110px;
	}
	.channels-sections .section {
		margin-left: 0px;
		margin-right: 0px;
	}
	.channels-sections .section-right {
		margin-left: -4px;
	}
	.channel .channel-image {
		height: 118px;
		width: 118px;
		padding: 13px;
	}
	.channel-image .channel-img {
		height: 92px;
		width: 92px;
	}
	.channel .name-channel {
		font-size: 14px;
	}
	.channel .description-channel{
		font-size: 11px;
	}

	.button-section {
		margin-bottom: 11vh;
	}
	.sections-row {
		margin-left: 8%;
		width: 92%;
	}
}

.orange-line-bottom {
	height: 40px;
	width: 100%;
	background-color: #FFC811;
	position: absolute;
	bottom: 0;
}



/** playlist page **/
.fullScreen {
	height: 100%;
}

.background-playlist {
	height: 97vh;
	padding-top: 8vh;
	background: rgba(242,240,237,1);
	background: -moz-linear-gradient(-45deg, rgba(242,240,237,1) 0%, rgba(242,240,237,1) 66%, rgba(243,233,217,1) 66%, rgba(243,233,217,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242,240,237,1)), color-stop(65%, rgba(242,240,237,1)), color-stop(66%, rgba(243,233,217,1)), color-stop(100%, rgba(243,233,217,1)));
	background: -webkit-linear-gradient(-45deg, rgba(242,240,237,1) 0%, rgba(242,240,237,1) 66%, rgba(243,233,217,1) 66%, rgba(243,233,217,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(242,240,237,1) 0%, rgba(242,240,237,1) 66%, rgba(243,233,217,1) 66%, rgba(243,233,217,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(242,240,237,1) 0%, rgba(242,240,237,1) 66%, rgba(243,233,217,1) 66%, rgba(243,233,217,1) 100%);
	background: linear-gradient(168deg, rgba(242,240,237,1) 0%, rgba(242,240,237,1) 66%, rgba(243,233,217,1) 66%, rgba(243,233,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f0ed', endColorstr='#f3e9d9', GradientType=1 );
}

.bottom-line-web {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #FFC811;
}

.bottom-line-mobile {
	width: 100%;
	height: 4vh;
	background-color: #FFC811;
}

@media only screen and (min-width: 1025px) {
	.bottom-line-mobile {
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.bottom-line-web {
		display: none;
	}
}

.background-playlist .channel-panel-playlist {
	position: relative;
	width: 60vh;
	height: 75vh;
	background-color: #fff;
	margin: 0 auto;
	padding-top: 5vh;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}

.background-playlist .channel-panel-playlist .channel-name-img {
	background: url(img/channel-name.png) no-repeat;
	background-position: center;
	background-size: cover;
	display: block;
	height: 50vh;
	width: 50vh;
	margin: 0 auto;
}

.background-playlist .channel-panel-playlist .channel-name-description {
	padding-left: 5vh;
	padding-top: 2vh;
	font-size: 30px;
	color: #444;
	font-weight: bold;
	letter-spacing: 1px;
}

.background-playlist .channel-panel-playlist .playing-artist {
	font-size: 18px;
	color: #1a3d4f;
	font-weight: 200;
	margin-top: 5px;
}

.background-playlist .channel-panel-playlist .playing-artist span {
	color: #f8c146;
}

.background-playlist .channel-panel-playlist .buttons-channel {
	position: absolute;
	top: 22vh;
	white-space: nowrap;
	left: 50%;
	transform: translate(-50%, 0);
}

.background-playlist .channel-panel-playlist .buttons-channel .like-button, .background-playlist .channel-panel-playlist .buttons-channel .play-button, .background-playlist .channel-panel-playlist .buttons-channel .dislike-button {
	background: none;
	cursor: pointer;
	outline: none;
	border: none;
}

.background-playlist .channel-panel-playlist .buttons-channel .like-img, .background-playlist .channel-panel-playlist .buttons-channel .dislike-img {
	height: 8vh;
	width: 8vh;
}

.background-playlist .channel-panel-playlist .buttons-channel .play-img {
	height: 15vh;
	width: 15vh;
}

.background-playlist .channel-panel-playlist .buttons-channel .like-button, .background-playlist .channel-panel-playlist .buttons-channel .dislike-button {
	position: relative;
	bottom: 3vh;
}

.background-playlist .channel-panel-playlist .buttons-channel .like-button {
	margin-right: 4vh;
}

.background-playlist .channel-panel-playlist .buttons-channel .dislike-button {
	margin-left: 4vh;
}

.background-playlist .channel-panel-playlist .back-button {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	position: absolute;
	top: -1vh;
	left: -12vh;
}

.background-playlist .channel-panel-playlist .back-img {
	height: 5vh;
}

.bottom-buttons-playlist {
	text-align: center;
	margin-top: 3.2vh;
}

.bottom-buttons-playlist .channel-link {
	margin: 8px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

.bottom-buttons-playlist .channel-img {
	height: 5vh;
	width: 5vh;
}

.channel-img:hover path, .channel-img:hover rect {
	fill: #FFC811;
}

.channel-img:visited path, .channel-img:visited rect {
	fill: #FFC811;
}

.channel-name-img .img-overlay {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.27);
}

@media only screen and (max-width: 1024px) {
	.background-playlist .channel-panel-playlist .back-button {
		left: 0;
		top: -7vh;
	}
	.background-playlist {
		height: 91vh;
	}
}

@media only screen and (max-width: 991px) {
	.background-playlist .channel-panel-playlist {
		width: 48vh;
	}
	.background-playlist .channel-panel-playlist .channel-name-img {
		width: 40vh;
		height: 40vh;
	}
	.background-playlist {
		padding-top: 14vh;
	}
	.background-playlist .channel-panel-playlist .buttons-channel {
		top: 18vh;
	}
	.background-playlist .channel-panel-playlist .buttons-channel .like-img, .background-playlist .channel-panel-playlist .buttons-channel .dislike-img {
		width: 6vh;
	}
	.background-playlist .channel-panel-playlist .buttons-channel .play-img {
		width: 12vh;
	}
	.background-playlist .channel-panel-playlist {
		height: 65vh;
	}
}

@media only screen and (max-width: 768px) {
	.background-playlist .channel-panel-playlist .channel-name-description {
		font-size: 20px;
	}
	.background-playlist .channel-panel-playlist .playing-artist {
		font-size: 14px;
	}
	.background-playlist {
		height: 91vh;
	}
}

@media only screen and (max-width: 576px) {
	.background-playlist .channel-panel-playlist {
		width: 40vh;
	}
	.background-playlist .channel-panel-playlist .channel-name-img {
		width: 33vh;
		height: 33vh;
	}
	.background-playlist .channel-panel-playlist {
		padding-top: 4vh;
	}
	.background-playlist .channel-panel-playlist .buttons-channel {
		top: 12vh;
	}
	.background-playlist .channel-panel-playlist .buttons-channel .play-img {
		width: 9vh;
	}
	.background-playlist .channel-panel-playlist .back-img {
		height: 3vh;
	}
	.background-playlist .channel-panel-playlist .back-button {
		top: -5vh;
	}
	.background-playlist .channel-panel-playlist {
		height: 62vh;
	}
	.background-playlist {
		height: 92vh;
	}
}

.play-list {
	position: absolute;
	right: 5vw;
	top: 10vh;
	width: 17vw;
}

.play-list .history-return {
	margin-bottom: 2vh;
}

.play-list .history-return .history {
	position: relative;
	bottom: 12px;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;
}

.play-list .history-return .return-button {
	background: none;
	margin-left: 10px;
	border: none;
	outline: none;
	cursor: pointer;
}

.play-list .history-return .return-img {
	height: 35px;
}

.play-list .list-of-channels {
	overflow-y: scroll;
	height: 69vh;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.play-list .list-of-channels .channel {
	height: 11.65vh;
	border-bottom: 1px solid #404040;
}

.bottom-buttons {
	position: absolute;
	right: 15vh;
	bottom: 5vh;
}

.bottom-buttons .arrow-button, .bottom-buttons .return-button, #return-button {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

.bottom-buttons .arrow-button {
	position: relative;
	bottom: 2.2vh;
	right: 3vh;
}

.bottom-buttons .arrow-top-img {
	height: 2vh;
	width: 4vh;
}

.bottom-buttons .return-img {
	height: 6vh;
	width: 6vh;
}

.visibility-hidden {
	visibility: hidden;
}

.list-of-channels .channel {
	display: block;
	padding-top: 1.3vh;
}

.list-of-channels a {
	text-decoration: none;
	color: #444;
}

.play-list .list-of-channels .channel-img {
	float: left;
	width: 9vh;
	margin-right: 2vh;
}

.list-of-channels .channel .channel-name {
	font-weight: bold;
	font-size: 14px;
}

.list-of-channels .channel .channel-artist {
	font-size: 15px;
	font-weight: 400;
}

@media only screen and (max-width: 1024px) {
	.play-list {
		position: static;
		width: 100%;
		background: rgba(242,240,237,1);
		background: -moz-linear-gradient(-45deg, rgba(242,240,237,1) 0%, rgba(242,240,237,1) 65%, rgba(243,233,217,1) 66%, rgba(243,233,217,1) 100%);
		background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242,240,237,1)), color-stop(65%, rgba(242,240,237,1)), color-stop(66%, rgba(243,233,217,1)), color-stop(100%, rgba(243,233,217,1)));
		background: -webkit-linear-gradient(-45deg, rgba(242,240,237,1) 0%, rgba(242,240,237,1) 65%, rgba(243,233,217,1) 66%, rgba(243,233,217,1) 100%);
		background: -o-linear-gradient(-45deg, rgba(242,240,237,1) 0%, rgba(242,240,237,1) 65%, rgba(243,233,217,1) 66%, rgba(243,233,217,1) 100%);
		background: -ms-linear-gradient(-45deg, rgba(242,240,237,1) 0%, rgba(242,240,237,1) 65%, rgba(243,233,217,1) 66%, rgba(243,233,217,1) 100%);
		background: linear-gradient(168deg, rgba(242,240,237,1) 0%, rgba(242,240,237,1) 65%, rgba(243,233,217,1) 66%, rgba(243,233,217,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f0ed', endColorstr='#f3e9d9', GradientType=1 );
	}
	.list-of-channels .channel {
		width: 48vh;
		margin: 0 auto;
	}
	.play-list .history-return {
		width: 48vh;
		margin: 0 auto;
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	.bottom-buttons {
		top: 94vh;
		left: 50%;
	}
	.play-list .list-of-channels {
		padding-bottom: 4vh;
	}
	.bottom-buttons .return-img {
		display: none;
	}
	.bottom-buttons .arrow-top-img {
		width: 7vh;
	}
}

@media only screen and (width: 1024px) {
	.play-list {
		width: auto !important;
	}
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
	.play-list {
		right: 0vw;
		width: 24vw;
	}
	.background-playlist .channel-panel-playlist {
		height: 60vh;
		width: 50vh;
	}
	.background-playlist .channel-panel-playlist .channel-name-img {
		height: 40vh;
		width: 40vh;
	}
	.background-playlist .channel-panel-playlist .buttons-channel .like-img, .background-playlist .channel-panel-playlist .buttons-channel .dislike-img {
		height: 6vh;
		width: 6vh;
	}
	.background-playlist .channel-panel-playlist .buttons-channel .play-img {
		height: 12vh;
		width: 12vh;
	}
	.background-playlist .channel-panel-playlist .buttons-channel {
		top: 18vh;
	}
	.background-playlist {
		padding-top: 18vh;
	}
}

@media only screen and (max-width: 567px) {
	.list-of-channels .channel {
		width: 38vh;
	}
	.play-list .history-return {
		width: 38vh;
	}
	.background-playlist .channel-panel-playlist .channel-name-description {
		font-size: 16px;
	}
	.background-playlist .channel-panel-playlist .channel-name-description {
		padding-left: 2.5vh;
	}
	.bottom-buttons .arrow-button {
		bottom: 14vh;
	}
}

@media only screen and (max-width: 240px) {
	.play-list .list-of-channels .channel {
		height: 28vh;
	}
}

@media only screen and (min-width: 1025px) {
	.playlist-mobile-section {
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.background-playlist .channel-panel-playlist .channel-name-description {
		font-size: 18px;
	}
	.play-list .list-of-channels .channel {
		height: 12vh;
	}
	.playlist-mobile-button img {
		height: 3vh;
		width: 6vh;
	}
	.playlist-mobile-button {
		display: block;
		margin: 0 auto;
		border: none;
		outline: none;
		background-color: transparent;
		position: relative;
	}
	.playlist-mobile-section {
		background-color: rgba(243,233,217,1);
		width: 100%;
		padding-bottom: 3vh;
		height: 5vh;
	}
	.bottom-buttons .arrow-button {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	.playlist-mobile-section {
		height: 4vh;
	}
}

@media only screen and (max-width: 567px) {
	.playlist-mobile-button {
		bottom: 15px;
	}
}

@media only screen and (max-width: 320px) {
	.background-playlist .channel-panel-playlist {
		height: 65vh;
	}
	.background-playlist .channel-panel-playlist .channel-name-description {
		font-size: 12px;
	}
	.play-list .list-of-channels .channel {
		height: 18vh;
	}
}

@media only screen and (max-width: 240px) {
	.play-list .list-of-channels .channel {
		height: 28vh;
	}
}

