.Best_Features
	text-align: center
	font-size: 54px
	margin-top: 90px
	font-weight: 100
	font-family: 'Open Sans', sans-serif
	@media only screen and (max-width: 767px)
		margin-top: 50px
		font-size: 34px

.nec_scelerisque_nulla
	text-align: center
	margin-top: 30px
	margin-bottom: 50px
	color: $color-text-Best-Features
	font-size: 18px
	font-family: 'Open Sans', sans-serif

.startup_feature
	width: 100%
	margin: 0 auto
	text-align: center

	div .title
		display: block
		font-size: 13px
		margin-top: 25px
		margin-bottom: 25px
		font-weight: 600
		font-family: 'Montserrat', sans-serif

	div .title_description
		display: block
		color: #7e848e
		font-size: 14px
		font-weight: 100
		margin-bottom: 65px
		font-family: 'Montserrat', sans-serif

.learn_more
	display: block
	margin: 0 auto
	height: 45px
	width: 170px
	background-color: transparent
	border-radius: 20px
	border: 1px solid #d8d8d9
	font-size: 10px
	font-weight: 700
	letter-spacing: 2px
	transition: 0.7s
	color: $color-text-menu
	font-family: 'Montserrat', sans-serif
	&:hover
		color: $color-text
		background-color: #83aaf5
		transition: 0.7s

	