.center_alignment_img
	background-color: $color-row-companies
	text-align: center
	padding-top: 45px
	padding-bottom: 30px

.companies_img
	margin-left: 15px
	margin-right: 15px
	margin-bottom: 15px


