.picture_slider1, .picture_slider2, .picture_slider3
	position: relative
	background-repeat: no-repeat
	background-size: cover
	height: 980px

.picture_slider1
	background-image: url(../img/slider_img1.jpg)

.picture_slider2
	background-image: url(../img/slider_img2.jpg)
	
.picture_slider3
	background-image: url(../img/slider_img3.jpg)
	
.indent
	padding-left: 0px !important
	padding-right: 0px !important

.transparency
	height: 100%
	width: 100%
	background-color: rgba(78,133,240,0.85)

.Welcome_to_Im_Startup
	position: absolute
	left: 15%
	bottom: 135px
	max-height: 500px
	width: 70%
	text-align: center
	@media only screen and (max-width: 540px)
			bottom: 200px

	.Your_Product
		color: $color-text 
		font-size: 60px
		font-weight: 100
		font-family: 'Montserrat', sans-serif
		@media only screen and (max-width: 1100px)
			font-size: 40px
		@media only screen and (max-width: 650px)
			font-size: 30px

	.Your_Product_description
		display: block
		margin: 0 auto
		color: $color-text 
		font-size: 18px
		font-weight: 100
		padding-top: 50px
		font-family: 'Open Sans', sans-serif

	.Get_started_now
		height: 60px
		width: 240px
		margin-top: 55px
		background-color: transparent
		color: $color-text
		border-radius: 50px
		border: 3px solid #83aaf5
		outline: none
		transition: 0.7s
		overflow: hidden
		font-weight: 600
		font-family: 'Montserrat', sans-serif
		&:hover
			color: #83aaf5
			background-color: $color-text
			transition: 0.7s
		


