.startup_price_title
	display: block
	text-align: center
	margin-top: 100px
	font-size: 54px
	font-weight: 600
	font-family: 'Montserrat', sans-serif
	@media only screen and (max-width: 767px)
		font-size: 30px
	@media only screen and (max-width: 440px)
		font-size: 24px

.startup_price_text
	display: block
	text-align: center
	margin-top: 10px
	margin-bottom: 65px
	color: $color-text-Best-Features
	font-size: 18px
	font-family: 'Open Sans', sans-serif
	@media only screen and (max-width: 767px)
		width: 80%
		margin: 0 auto
		padding-bottom: 20px

.package_table
	position: relative
	margin: 0 auto
	width: 100%
	border: 1px solid $color-border_tables
	border-top-left-radius: 15px
	border-top-right-radius: 15px
	border-bottom-left-radius: 15px
	border-bottom-right-radius: 15px
	margin-bottom: 150px
	@media only screen and (max-width: 767px)
		margin: 0 auto
		width: 80%
		margin-bottom: 50px

.title_package
	text-align: center
	border-bottom: 1px solid $color-border_tables
	font-size: 24px
	font-weight: 600
	letter-spacing: 3px
	padding-top: 55px
	font-family: 'Montserrat', sans-serif

	.price
		display: block
		text-align: center
		font-size: 18px
		font-weight: 100
		letter-spacing: 0px
		color: $color-text_tables
		padding-top: 5px 
		padding-bottom: 50px 
		span
			color: $color-price

.button_buy_now
	border-top: 1px solid $color-border_tables
	width: 100%
	margin: 0 auto
	text-align: center
	padding-top: 50px
	padding-bottom: 50px
	line-height: 23px
	button
		height: 45px
		width: 170px
		background-color: $color-button-tables
		color: $color-text
		border: none
		outline: none
		font-size: 10px
		letter-spacing: 2px
		border-radius: 20px
		&:hover
			background-color: $color-price
	
.all_elements
	border-top: 1px solid $color-border_tables
	width: 80%
	margin: 0 auto
	text-align: center
	padding-top: 30px
	line-height: 23px

	.all_elements_title
		font-size: 13px
		font-weight: 600
		letter-spacing: 1px
		font-family: 'Montserrat', sans-serif

	.all_elements_text
		display: block
		color: $color-text_tables
		font-size: 14px
		padding-top: 20px
		padding-bottom: 30px

	.fa-check
		color: $color-price

	.fa-times
		color: $color-text_tables

.best_img
	position: relative
	position: absolute
	right: 0px
	top: 20px

.best
	position: absolute
	font-size: 10px
	color: $color-text
	top: 29px
	right: 4px

.shadow
	box-shadow: 0px 0px 6px 5px rgba(243,243,243,1)


