.startup
	background-image: url(../img/startup_img.jpg)
	background-repeat: no-repeat
	height: 500px
	background-size: cover
	background-color: rgba(55,77,117,0.85)

	.img_overlay
		height: 100%
		width: 100%
		background-color: rgba(55,77,117,0.85)

		.startup_today_title
			display: block
			color: $color-text
			font-size: 54px
			text-align: center
			padding-top: 85px
			padding-bottom: 35px
			@media only screen and (max-width: 767px)
				font-size: 34px
		
		.startup_today_text
			display: block
			color: $color-text
			font-size: 18px
			text-align: center
			padding-bottom: 60px
		button
			position: absolute
			top: 10px

.have_a_questions
	display: block
	color: $color-text
	text-align: center
	margin-top: 20px


/**Email**/

div.error 
	color: #E60000
	margin: 4px 0 0 10px
	height: 20px
	text-align: center
    
a.backLink 
	font-size: 10pt
	color: #333333
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
    
.valid 
	box-shadow: 0 0 7px rgba(0, 700, 0, 1) !important
    
.notValid
	box-shadow: 0 0 7px rgba(230, 0, 0, 0.92) !important

#userEmail 
	display: block
	color: $color-text
	font-size: 10px
	font-weight: 600
	letter-spacing: 3px
	border-left: none
	border-right: none
	border-top: none
	padding-left: 25px
	height: 60px
	width: 570px
	margin: 0 auto
	outline: none
	border-radius: 60px
	border: 2px solid #617191
	background-color: $color-input_email
	font-family: 'Montserrat', sans-serif
	@media only screen and (max-width: 767px)
		height: 40px
		width: 270px
		font-size: 8px
		padding-left: 10px

.input_and_button
	position: relative
	width: 570px
	margin: 0 auto
	@media only screen and (max-width: 767px)
		width: 270px

.button_subscribe
	position: absolute
	right: 8px
	height: 40px
	width: 170px
	border-radius: 20px
	border: none
	outline: none
	background-color: $color-price
	color: $color-text
	font-size: 10px
	letter-spacing: 2px
	font-family: 'Montserrat', sans-serif
	&:hover
		background-color: #336ad3
	@media only screen and (max-width: 767px)
		height: 20px
		width: 100px
		right: 8px


