* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@font-face {
	font-family: Avenir Next;
	src:url(fonts/AvenirNext-Regular.ttf);
}

@font-face {
	font-family: Avenir Next Medium;
	src:url(fonts/AvenirNext-Medium.ttf);
}

	/*delete placeholder when clicking*/
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/*Header*/
.logo_page {
	margin-left: 30px;
	margin-top: 40px;
}

.logo_page div {
	display: inline-block;
	margin-top: 4px;
}

.img_logo {
	padding-right: 15px;
	border-right: 1px solid #dbdbdb;
}

.title {
	margin-left: 18px;
	font-size: 20px;
	color: #000;
	font-family: Avenir Next;
}

.title:hover, .title:focus {
	color: #000;
	text-decoration: none;
}

.contact_us {
	float: right;
	margin-right: 33px;
	background-color: #009aed;
	padding: 10px 45px 10px 45px;
	color: #fff;
	font-size: 15px; 
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.contact_us:hover, .contact_us:focus {
	color: #fff;
	text-decoration: none;
}

@media only screen and (max-width: 520px) {
	.contact_us  {
		margin: 0 auto;
		margin-top: -2px;
		padding: 10px 10px 10px 10px;
	}

	.logo_page {
		text-align: center;
		margin-right: 0px;
		margin-left: 10px;
	}
}

@media only screen and (max-width: 395px) {
	.contact_us {
		display: inline-block;
		margin-top: 20px;
		float: none;
	}
}

.main_picture {
	background-image: url(img/main_picture.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 315px;
	margin-top: 12px;
}

.main_picture span	{
	display: block;
	font-size: 50px; 
	color: #fff;
	text-align: center;
	padding-top: 70px;
	font-family: Avenir Next Medium;
}

.main_picture .input_field {
	text-align: center;
}

.main_picture .input_field input {
	height: 50px;
	width: 470px;
	padding-left: 20px;
	margin-top: 50px;
	border: 1px solid #8ea4b8;
	color: #8ea4b8;
	font-size: 18px;
	outline: none;
	font-family: Avenir Next;

	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;

	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
}

.main_picture .input_field button {
	padding: 14px 10px 14px 10px;
	width: 80px;
	border: none;
	background-color: #009aed;
	outline: none;

	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;

	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
}

.fa {
	color: #fff;
	font-size: 20px !important;
}

@media only screen and (max-width: 600px) {
	.main_picture .input_field input {
		width: 225px;
	}

	input::-webkit-input-placeholder {
		font-size: 16px; 
	}

	.main_picture span {
		font-size: 28px;
	}
}

.blue_line {
	height: 10px;
	width: 110px;
	background-color: #009aed;
	margin: 0 auto;
	margin-top: 45px;
}

.bread_crumbs {
	margin-top: 30px;
}

.bread_crumb_name {
	color: #96abbd;
}

.bread_crumb_name:hover, .bread_crumb_name:focus {
	color: #96abbd;
	text-decoration: none;
}

.bread_crumb_section {
	color: #009AED;
}

.bread_crumb_section:hover, .bread_crumb_section:focus {
	color: #0c9fee;
	text-decoration: none;
}

.border {
	border: 1px solid #dee0e8;
	margin-top: 23px;
	margin-left: 0 !important;
	padding-right: 0 !important;
}

.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/*Main part*/
.categories {
	display: block;
	font-size: 20px;
	margin-top: 55px;
	padding-bottom: 30px;
	color: #4a4a4a;
	font-family: Avenir Next Medium;
}

.category_list {
	padding-left: 0px;
}

.category_list li {
	list-style-type: none;
	padding: 14px 0px 14px 0px;
	font-family: Avenir Next;
}

.category_list li a {
	color: #8da3b7;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
}

.active {
	color: #009AED !important;
}

.left_right_border {
	border-left: 1px solid #dee0e8;
	border-right: 1px solid #dee0e8;
}

.left_right_border .title_page {
	display: block;
	font-size: 28px;
	color: #4a4a4a;
	margin-top: 70px;
	margin-bottom: 10px;
	font-family: Avenir Next Medium;
}

.left_right_border .date {
	display: block;
	margin-bottom: 40px;
	color: #8da3b7;
	font-size: 14px;
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
	.categories {
		font-size: 17px;
	}
}

.date + span {
	display: block;
	font-size: 15px;
	padding-bottom: 35px;
	font-family: Avenir Next;
}

.date + span .text_bold, .text_bold {
	font-weight: 800;
}

.types_of_products_list {
	margin-top: 35px;
	padding-left: 15px;
	font-size: 15px;
}

.types_of_products_list li a {
	display: block;
	color: #009AED;
	padding-top: 3px;
	padding-bottom: 3px;
}

.types_products {
	font-family: Avenir Next;
}

.title_products {
	display: block;
	margin-top: 50px;
	margin-bottom: 35px;
	font-size: 26px;
	font-family: Avenir Next;
}

.title_products + span, .product_variantions + span  {
	display: block;
}

.product_variantions {
	display: block;
	margin-bottom: 40px;
	font-size: 15px;
	font-family: Avenir Next;
}

.product_variantions + span {
	line-height: 25px;
	font-family: Avenir Next;
}
 
.product_details {
	display: inline-block;
	padding-bottom: 20px;
	font-size: 15px;
	font-family: Avenir Next;
}

.product_details_list {
	padding-left: 32px;
	font-size: 15px;
	font-family: Avenir Next;
}

.product_details_list li {
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 15px;
}

.note {
	background-color: #e5f4fd;
	padding: 20px;
	margin-top: 30px;
	border: 1px solid #009aed;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	font-size: 15px;
	font-family: Avenir Next;
}

.note .note_color {
	color: #009AED;
	font-weight: 800;
}

.products_img {
	margin-top: 45px;
	margin-bottom: 50px;
	width: 100%;
}

.products_img + span {
	display: block;
	font-size: 15px;
	font-family: Avenir Next;
	line-height: 25px;
}

.text_description {
	display: block;
	margin-top: 35px;
	font-size: 15px;
	font-family: Avenir Next;
}

.product_details_list + span {
	display: block;
	margin-top: 20px;
	font-size: 15px;
	font-family: Avenir Next;
}

.description_list {
	display: block;
	margin-top: 40px;
	line-height: 25px;
	font-size: 15px;
	font-family: Avenir Next;
}

.description_list + span {
	display: block;
	margin-top: 40px;
	line-height: 25px;
	font-size: 15px;
}

.creating_product {
	display: block;
	margin-top: 40px;
	margin-bottom: 45px;
	line-height: 25px;
	font-size: 15px;
	font-family: Avenir Next;
}

.title_products + span {
	font-size: 15px;
	line-height: 25px;
	font-family: Avenir Next;
}

.more_variants {
	margin-top: 40px;
	font-size: 15px;
	line-height: 25px;
	font-family: Avenir Next;
}

.variant_product {
	font-size: 15px;
	line-height: 25px;
	font-family: Avenir Next;
}

.create_product {
	display: block;
	margin-top: 40px;
	margin-bottom: 150px;
	line-height: 25px;
	font-size: 15px;
	font-family: Avenir Next;
}

.blue_line_indent {
	margin-bottom: 250px;
}

@media only screen and (max-width: 767px) {
	.blue_line_indent {
	margin-bottom: 0px;
	}

	.create_product {
		margin-bottom: 0px;
	}
}

.contact_us_bottom {
	display: block;
	height: 140px;
	width: 400px;
	margin: 0 auto;
	padding-top: 25px;
	padding-left: 50px;
	background-color: #fff;
}

.background_icon {
	height: 90px;
	width: 90px;
	background-color: #edf8fe;
	border-radius: 50%;
	float: left;
}

.contact_us_bottom span {
	display: inline-block;
	margin-top: 20px;
	font-size: 37px;
	margin-left: 30px;
	color: #000;
	font-family: Avenir Next Medium;
}

.background_icon img {
	display: block;
	margin: 0 auto;
	margin-top: 26px;
}

.box-shadow {
-webkit-box-shadow: 0px 0px 10px 6px rgba(248,248,250,1);
-moz-box-shadow: 0px 0px 10px 6px rgba(248,248,250,1);
box-shadow: 0px 0px 10px 6px rgba(248,248,250,1);
}

@media only screen and (max-width: 767px) {
	.contact_us_bottom {
		height: 80px;
		width: 210px;
		padding-top: 5px;
		padding-left: 20px;
		margin-bottom: 50px;
	}

	.background_icon {
		height: 70px;
		width: 70px;
	}

	.contact_us_bottom span {
		margin-top: 24px;
		font-size: 18px;
		margin-left: 12px;
		color: #000;
	}

	.background_icon img {
	display: block;
	margin: 0 auto;
	margin-top: 18px;
	}
}

.background_contact_us {
	background-image: url(img/contact_us_background.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	padding-top: 50px;
	margin-bottom: 80px;
}

.indent_background {
	margin-top: -170px;
}

.blue_line_xs {
	margin-bottom: 50px;
}

/*Footer*/
.footer_links_list {
	padding-left: 0px;
}

.footer_title {
	display: block;
	margin-bottom: 30px;
	color: #009aed;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 2px;
	font-family: Avenir Next;
}

.footer_links {
	list-style-type: none;
}

.footer_links a {
	display: inline-block;
	color: #000;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
	font-family: Avenir Next;
}

.footer_links_list li:last-child {
	margin-bottom: 35px;
}

@media only screen and (max-width: 767px) {
	.footer_links_list li:last-child {
		margin-bottom: 50px;
	}
	.footer_title {
		margin-bottom: 15px;
	}
}

.footer_links a:hover, .footer_links a:focus {
	color: #000;
}

.indent_footer_links {
	margin-bottom: 30px;
}
 
.fa-phone {
	color: #009aed;
	padding-right: 10px;
	padding-bottom: 20px;
}

.phone_footer {
	padding-bottom: 65px;
}

.indent_phone {
	font-size: 15px;
	text-align: center;
	font-family: Avenir Next;
}

@media only screen and (max-width: 767px) {
	.indent_phone {
		text-align: left;
	}
}
